.footer__nav--bar {
  background-color: black;
  width: 375px;
  margin: 0;
  padding: 0;
  height: 70px;
  position: fixed;
  bottom: 0;
}
.footer__nav--bar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.footer__nav--bar ul li {
  align-self: center;
}

.footer__nav--bar img {
  width: 30px;
}

.nav__add--button {
  background-color: purple;
  border-radius: 50%;
}
