header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-size: 14px;
}

.header__msg--frame {
  width: 35px;
  height: 35px;
  border: 1px solid var(--font-second-color);
  border-radius: 50%;
  position: relative;
}
header .icon {
  position: absolute;
  left: 7px;
  top: 6px;
}
.header__msg--point {
  background-color: #f62e8e;
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  left: 20px;
  top: 5px;
}
