header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 130px;
  position: fixed;
}
.icon {
  color: white;
  width: 30px;
  height: auto;
}
.sec-section {
  display: grid;
  grid-template-columns: repeat(3fr, 1fr);
}
.sec-section {
  display: flex;
  align-content: center;
}

.meal1 {
  width: 30px;
  height: auto;
}
.meal2 {
  width: 30px;
  height: auto;
}
.meal3 {
  width: 30px;
  height: auto;
}
