.sec-section {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  margin: 32px 0px 24px 0px;
  gap: 12px;
  width: 327px;
}

.sec-section img {
  width: 100px;
  height: 140px;
  border-radius: 16px;
}
.main__profile--pic {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  left: 32px;
  top: 170px;
  border: 1px;
  border-radius: 50%;
}
.main__profile--frame {
  display: flex;
  position: absolute;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
}
