.sec-section {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-end;
  margin: 12px 0px 24px 0px;
  gap: 12px;
  width: 327px;
}

.sec-section img {
  width: 100px;
  height: 140px;
  border-radius: 16px;
  top: ;
}
.main__profile--pic {
  position: relative;

  left: 32px;
  top: 100px;
  border: 1px;
  border-radius: 50%;
  z-index: 1;
}
.main__profile--pic img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  top: 3px;
  left: 2.5px;
  position: absolute;
}

.main__profile--frame {
  position: absolute;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: purple;
  z-index: 1;
}
.profpic-fem {
  position: relative;

  left: 32px;
  top: 155px;
  border: 1px;
  border-radius: 50%;
  z-index: 1;
}
.positioning {
  position: relative;
}
