.post {
  width: 375px;
  margin: 0;
  padding: 20px 20px;
  margin-bottom: 30px;
}

.post-header {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 40% 60%;
}

div {
  align-content: center;
}

.profilpicture {
  justify-self: end;
  grid-row: span 2;
}
.profilpicture img {
  border-radius: 20%;
  grid-row: 1 / 3;
}

.postmore {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  align-self: center;
}

.postmore img {
  width: 90%;
}

.post_user_title {
  padding-left: 10px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.posted_ago {
  font-size: 0.8rem;
  color: var(--font-second-color);
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

hr {
  border-color: var(--font-second-color);
}

.postcontent {
  min-height: 100px;
  margin: 10px 0;
}

.postcontent img {
  border-radius: 20px;
}
.postfooter {
  display: flex;
  width: 100%;
  gap: 15px;
  justify-content: space-around;
}

.bookmarkicon {
  width: auto;
  justify-self: auto;
}

.postfooter img {
  margin-right: 10px;
  margin-bottom: -3px;
}

.postfooter div {
  gap: 15px;
}
