.profile__header {
  width: 375px;
  height: 100px;
  max-height: 150px;
  margin: 0;
  position: relative;
}

.profile__header img {
  height: 100px;
  object-fit: cover;
  object-position: 100% 30%;
}

.profile__pic--background {
  position: absolute;
  left: 140px;
  bottom: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.profile__pic--background img {
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid purple;
}

.profile__user--text {
  margin-top: 60px;
  text-align: center;
}

.profile__user--text :nth-child(2) {
  color: var(--font-second-color);
  font-size: 0.7rem;
}
.profile__user--text :nth-child(3) {
  font-size: 0.9rem;
}

.profile__stats {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 10px;
  margin: 0;
  width: 375px;
}

.profile__stats :nth-child(3) {
  grid-row: span 2;
  align-self: center;
  border: 1px solid white;
  border-radius: 10px;
}
.profile__stats :nth-child(4) {
  color: var(--font-second-color);
  font-size: 0.8rem;
}
.profile__stats :nth-child(5) {
  color: var(--font-second-color);
  font-size: 0.8rem;
}

.button__edit-profile {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
